/* Estilos generales para el cuerpo */
body {
    font-family: 'Lato', sans-serif;
}

/* Estilo de la imagen de pantalla completa en el encabezado */
.masthead {
    position: relative;
    overflow: hidden;
}

.full-screen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full-screen-image img {
    width: 100%;
    height: auto;
}

/* Estilo personalizado para el texto único en la sección de Cartelera */
#unique-text {
    font-size: 1.2rem;
    color: #333;
}

/* Estilo del footer */
footer {
    background-color: #343a40;
    color: #ffffff;
}
